<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row p-3">
        <div class="col-sm-6">
          <h2>Gestion des <b>docteurs</b></h2>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <a
          [routerLink]="'/doctor-details/null'"
            class="btn btn-success"
            data-toggle="modal"
            ><i class="material-icons">&#xE147;</i>
            <span>Add New Employee</span></a
          >
       
        </div>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>

          <th scope="col">lastName</th>
          <th scope="col">firstName</th>
          <th scope="col">specialite</th>
          <th scope="col">contact</th>
          <th scope="col">password</th>
          <th scope="col">email</th>
          <th scope="col">adresse</th>
          <th scope="col">ville</th>
          <th scope="col">codePostal</th>
          <th scope="col">localisation</th>
          <th scope="col">sexe</th>
          <th scope="col">date</th>
          <th scope="col">status</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docteur of docteurList">
          <td>{{ docteur.id }}</td>
          <td>{{ docteur.lastname }}</td>
          <td>{{ docteur.firstname }}</td>
          <td>{{ docteur.specialite }}</td>
          <td>{{ docteur.adresse }}</td>
          <td>{{ docteur.ville }}</td>
          <td>{{ docteur.email }}</td>
          <td>{{ docteur.password }}</td>
          <td>{{ docteur.codePostal }}</td>
          <td>{{ docteur.contact }}</td>
          <td>{{ docteur.localisation }}</td>
          <td>{{ docteur.sexe }}</td>
          <td>{{ docteur.createdAt | date }}</td>
          

          <td [style.color]="docteur.status ? 'green' : 'red'">
            {{ docteur.status }}
          </td>
          <td>
            <a href="#deleteModal" class="delete" data-toggle="modal"
            >
            delete
            <i class="material-icons" data-toggle="tooltip" title="Delete"
              >&#xE872;</i
            ></a
          >
          <a [routerLink]="'/doctor-details/'+docteur.id"
          class="delete" data-toggle="modal"
          >
          edit
          <i class="material-icons" data-toggle="tooltip" title="Delete"
            >&#xE872;</i
          ></a
        ></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
