<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row p-3">
          <div class="col-sm-6">
            <h2>Gestion des <b>planDeTraitements</b></h2>
          </div>
          <div class="col-sm-6 d-flex justify-content-end">
            <a
            [routerLink]="'/planDeTraitement-details/null'"
              class="btn btn-success"
              data-toggle="modal"
              ><i class="material-icons">&#xE147;</i>
              <span>Add New PlanDeTraitements</span></a
            >
         
          </div>
        </div>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
  
            <th scope="col">objectif</th>
            <th scope="col">dateDebut</th>
            <th scope="col">dateFin</th>
            <th scope="col">patientId</th>
            <th scope="col">docteurId</th>
            <th scope="col">date</th>

            <th scope="col">status</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planDeTraitement of planDeTraitementList">
            <td>{{ planDeTraitement.id }}</td>
            <td>{{ planDeTraitement.objectif }}</td>
            <td>{{ planDeTraitement.dateDebut  }}</td>
            <td>{{ planDeTraitement.dateFin  }}</td>
            <td>{{ planDeTraitement.patientId }}</td>
            <td>{{ planDeTraitement.docteurId }}</td>

            <td>{{ planDeTraitement.createdAt | date }}</td>
            
  
            <td [style.color]="planDeTraitement.status ? 'green' : 'red'">
              {{ planDeTraitement.status }}
            </td>
            <td>
            <a href="#deleteModal" class="delete" data-toggle="modal"
              >
              delete
              <i class="material-icons" data-toggle="tooltip" title="Delete"
                >&#xE872;</i
              ></a
            >
            <a [routerLink]="'/planDeTraitement-details/'+planDeTraitement.id"
            class="delete" data-toggle="modal"
            >
            edit
            <i class="material-icons" data-toggle="tooltip" title="Delete"
              >&#xE872;</i
            ></a
          ></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  